<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>openOrCloseCard.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>51009FB421D1F17600D8206E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>51009FCC21D1F17900D8206E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>51009FD721D1F17900D8206E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
